.main {
  margin-top: 200px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.absoluteText {
  position: absolute;
  bottom: -20px;
  left: 28%;
}
.mainHeadingDiv {
  position: relative;

  background-size: cover;
}
.mainContainer {
}
.mainTextContainer {
  text-align: center;
}
.mainTextContainer h2 {
  font-size: 40px;
}
.mainTextContainer p {
  margin-top: 30px;
  font-size: 24px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.mainDescMobile {
  display: none;
}

/* Card css */
.cardMain1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardMain {
  width: 280px;
  padding-top: 40px;
  padding-bottom: 25px;
}
.cardMain:hover .cardDotOuter {
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background: white;
  border: 1px solid #15b6ac;

  z-index: 1;
}
.cardMain:hover {
  background: #15b6ab08;
}

.cardContainer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}
.cardLogo {
}
.absouluteThings {
  margin-top: 40px;
  margin-bottom: 80px;
}
.cardDotOuter {
  position: absolute;
  left: 45%;
  right: 50%;
  top: 80px;
}
.cardDot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #15b6ac;
  position: absolute;
  left: 15%;
  right: 40%;
  top: 3px;
  z-index: 10;
}
.cardText {
}
.cardText h2 {
  font-size: 24px;
}
.cardText p {
  font-size: 16px;
}

@media screen and (max-width: 1100px) {
  .cardDotOuter {
    left: 48%;
    right: 50%;
    top: 80px;
  }
  .absoluteText {
    left: 20%;
  }
  .mainDescMobile {
    display: block;
  }
  .mainDescDesktop {
    display: none;
  }
  .mainTextContainer p {
    width: 100%;
  }
  .cardMain1 {
    display: block;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .cardMain {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 470px) {
  .absoluteText {
    bottom: -18px;
    left: 5%;
  }
  .cardMain1 {
    display: block;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .cardDotOuter {
    left: 44%;
    right: 44%;
    top: 80px;
  }
}
