.homeMain {
  position: relative;
}
.backgroundAbsolute {
  position: absolute;
  top: -200px;
  right: 40px;
  z-index: 1;
}
.backgroundAbsolute2 {
  position: absolute;
  top: -210px;
  right: 0;
  z-index: 1;
}

.circle1 {
  position: relative;
  overflow: hidden;
}
.circleAbsolute1 {
  position: absolute;
  left: -350px;
  top: 30%;
}
.circle2 {
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
}
.circleAbsolute2 {
  position: absolute;
  right: -450px;
  top: 20%;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
@media screen and (max-width: 1100px) {
  .circleAbsolute2 {
    display: none;
  }
  .circleAbsolute1 {
    display: none;
  }
}
